<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/basicStyling.css">
        <script type="text/javascript" src="/js/basicJS.js"></script>
    </head>

<body>
    <h1>{{title}}</h1>
    {{>header}}
    {{>footer}}
</body>

</html> 