<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/basicStyling.css">
        <link rel="icon" href="/photos/cloud.png">
    </head>

<body>
    <p>The creator of this page is {{name}} at a tinder age of {{age}}</p>
    {{>header}}
    <p>This page is all about testing!</p>
    <img src="/photos/hacker.jpg" alt="" style="width: 300px;">
    {{>footer}}
</body>

</html> 