<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/basicStyling.css">
    </head>

<body>
    <p>The creator of this page is {{name}} at a tinder age of {{age}}</p>
    {{>header}}
    <img src="/photos/code.jpg" alt="" style="width: 300px;">
    {{>footer}}
</body>

</html> 