<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/basicStyling.css">
        <link rel="icon" href="/photos/cloud.png">
    </head>

<body>
    <div class="main-content">
    <h1>HELP PAGE</h1>
    {{>header}}
    </div>

    {{>footer}}
</body>

</html> 