<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/basicStyling.css">
    </head>

<body>
    <div class="main-content">
    <h1>{{title}}</h1>
    {{>header}}
    </div>

    <form>
        <input placeholder="Location"> 
        <button>CHECK WEATHER</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>

    {{>footer}}

    <script type="text/javascript" src="../servingFiles/js/basicJS.js"></script>
</body>

</html> 